.App {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 2px solid rgba(170, 204, 255, 0.1);
  margin-top: 10px;
}

h1 {
  font-size: 300%;
  margin-top: 5px;
}


.results-nominations {
  width: 100%;
  height: 100%;
}

.results {
  width: 100%;
  height: 100%;
}

.nominations {
  display: flex;
}

#banner {
  font-size: 12px;
  margin: 0;
  padding: 5px;
  background-color: #D7263D;
  color: #fff;
}

#banner div:first-child {
  font-weight: 700;
}

@media (max-width: 950px) {
  .wrapper {
    flex-direction: column;
  }
  .results {
    width: 100%;
    height: 100%;
  }
  .nominations {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .nom-movie {
    display: flex;
    justify-content: space-evenly;
  }
}