.movie {
  display: block;
  /* object-fit: contain; */
  /* flex-shrink: 0; */
  width: 100%;
  max-height: 300px;
  margin-right: 10px;
}

.poster{
  max-height: 250px;
  margin: 0 5px;
  display: inline;
  border-radius: 4px;
  transition: transform 450ms;
  /* border: 2px solid rgba(170, 204, 255, 0.1); */
  box-shadow: 1px 2.9px 16px rgba(241, 242, 242,0.15);
}

.poster:hover {
  z-index: 1;
  transform: scale(1.08);
}

.title {
  margin-top: 5px;
}

.nominate {
  width: 150px;
  margin-top: 5px;
  border: 2px solid #aaccff;
  padding: 6px 18px;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #155799;
  background-color: #F1F2F2;
  transition: 0.25s ease-in-out;
	border-radius: 5rem;
	cursor:pointer;
	font-weight: bold;
}

.nominate:hover {
  background-color:#155799;
  border-color: #155799;
  color: #F1F2F2;
}

.nominate:disabled, .nominate[disabled] {
  background-color:#ccc;
  border-color: #999;
  color: #666;
  cursor: not-allowed;
}