.nom-movie {
  display: flex;
  justify-content: space-around;
  object-fit: contain;
  max-width: 90%;
  max-height: 100%;
  margin: 0 10px 10px 10px;
  border: 2px solid #9BD4C1;
  border-radius: 1rem;
  padding: .5rem;
}


.nom-poster{
  max-height: 150px;
  flex-shrink: 0;
  margin: 0;
  display: inline;
  border-radius: 4px;
  transition: transform 450ms;
  border: 2px solid rgba(170, 204, 255, 0.1);
  box-shadow: 1px 2.9px 16px rgba(241, 242, 242,0.15);
}

.title-button {
  align-self: center;
}

.nominated {
  width: 150px;
  margin-top: 5px;
  border: 2px solid #aaccff;
  padding: 6px 18px;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #155799;
  background-color: #F1F2F2;
  box-shadow: 0 3px 3px #9BD4C1;
  transition: 0.25s ease-in-out;
	border-radius: 5rem;
	cursor:pointer;
	font-weight: bold;
}

.nominated:hover {
  animation: removeGradient 125ms;
  background-color:#e40909;
  border-color: #e40909;
  color: #F1F2F2;
}

@keyframes removeGradient {
  0% {
    background: radial-gradient(circle at center, rgba(228, 9, 9, 0) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba( 228, 9, 9, 0.3 ) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 228, 9, 9, 0.5 ) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba(228, 9, 9, 0.8) 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, #e40909 99%, #fff 100%, #fff 100%);
  }
}

@media (max-width: 1300px) {
  .nom-poster{
    max-height: 100px;
  }
}

@media (min-width: 926px) and (max-width: 1100px) {
  .nom-poster{
    max-height: 50px;
  }
}

@media (min-width: 769px) and (max-width: 925px) {
  .nom-poster{
    display: none;
  }
}
@media (max-width: 768px) {
  .nom-poster{
    max-height: 200px;
  }
}

@media (max-width: 576px) {
  .nom-poster{
    max-height: 150px;
  }
}